body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-bottom: 100px;
}

code {
font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

#logo {
font-family: 'Satisfy', cursive;
width: 100%;
text-align: center;
font-size: 24pt;
}


.round {
border-radius: 50%;
}

.wh-30 {
width: 30px;
height: 30px;
object-fit: cover;
}


.w-100100 {
  width: calc(100% - 100px) !important;
}

.nounderline {
text-decoration: none !important;
}

.bold {
font-weight: 600;
}


.post-image {
width: 100%;
object-fit: contain;
}

.post-image-thumbnail {
width: 100%;
height: 100%;
object-fit: cover;
object-position: center center;
position: relative;
transition: all 0.2s;
}

.like-hover:hover {
color: #17a2b8 !important;
}
.dislike-hover:hover {
color: #d9534f !important;
}

.bookmark-hover:hover {
color: #20c997 !important;
}

.delete-hover:hover {
color: #d9534f !important;
}

.farx {
cursor: pointer;
}

.row {
display: -webkit-box !important;
display: -webkit-flex !important;
display: -ms-flexbox !important;
display:         flex !important;
flex-wrap: wrap !important;
}
.row > [class*='col-'] {
display: flex !important;
flex-direction: column !important;
}

.img__description {
position: absolute;
top: 0;
bottom: 0;
left: 0;
right: 0;
height: 100%;
background: #00000088;
color: #fff;
opacity: 0;
text-align:center;
line-height: 300px;
font-size: 16pt;
padding: 5px !important;
/* transition effect. not necessary */
transition: opacity .2s, visibility .2s;
}


.thumbnail:hover .img__description {
opacity: 1;
}

.thumbnail {
padding: 5px !important;
position: relative;
height: 300px;
overflow: hidden;
}

.thumbnail:hover .post-image-thumbnail {
filter: blur(3px);
transform: scale(1.5);
}

.noselect {
-webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Old versions of Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none; /* Non-prefixed version, currently
                                supported by Chrome, Edge, Opera and Firefox */
}

.cursor-pointer {
cursor: pointer;
}


@media screen and (max-width: 768px) {
.profile-pic {
  width: 100px;
  height: 100px;
  object-fit: cover;
  object-position: center center;
  position: relative;
  margin: 0;
  padding: 0;
}
.w-100-200 {
  width: calc(100% - 130px);
}


.w-200 {
  width: 100px !important;
  margin-right: 25px;
  padding: 0 !important;
}
}


@media screen and (min-width: 769px) {
.profile-pic {
  width: 200px;
  height: 200px;
  object-fit: cover;
  object-position: center center;
  position: relative;
  margin: 0;
  padding: 0;
}
.w-100-200 {
  width: calc(100% - 230px);
}
.w-200 {
  width: 200px !important;
  margin-right: 25px;
  padding: 0 !important;
}
}


.tdp, .tdf {
border-right: 1px solid #333;
}


.tai {
min-height: 200px !important;
max-height: 500px;
}

.img-preview {
width: 100%;
object-fit: cover;
object-position: center center;
position: relative;
margin: 0;
padding: 0;
display: none;
}


.btnh{
height: fit-content;
}

.damm {
height: 33px;
line-height: 33px;
}

.dammimg {
  height: 33px;
  width: 33px;
  object-fit: cover;
  object-position: center center;
}

.fixed-bottom{ 
padding: 0 !important;
}

.dam {
border-radius: 0;
border: 0;
}

.xx:hover {
  background-color: #4582eccc !important;
}